*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

//var colors

$color1: rgb(0, 0, 139);
$color2: rgb(12, 12, 226);
$color3: rgb(1, 149, 235);

//var fonts

$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;
$font3: 'Acme', sans-serif;

@mixin background {
    background-position: center;
    background-size: cover;
}


/***** animacion de la pelota *****/ 

#pelota{
    width: 80px;
    position: fixed;
    top: 480px;
    left: 1250px;
    animation: pelota 7s both;
}
@keyframes pelota{
    0%{
        transform: translateY(-100px);
    }
    30%{
        transform: translateY(05px) rotate(5deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: translateY(10px) rotate(-15deg);
    }
}

/*****   index    *****/

.fotoindex{
    background-image: url(img/club.jpg);
    @include background();
    height: 600px;
    width: 100%;
}
.escudo{
    height: 150px;
    position: absolute;
    top: 1px ;
    left: 0px;
}
.dropdown{
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 30%;
}
.dropdown-menu{
    width: 700%;
    background-color: $color1;
    border-radius: 10%;
    margin-left: 300%;
    a{
        width: 100%;
        font-family: $font1;
        font-size: 30px;
        text-align: center; 
    }
    :hover{
        background-color: $color3;     
    }
}
#darkbutton{
    color:white;
    margin-left: 220%;
    margin-top: 120%;
    
}

/***** fotos de inicio *****/
.fotoindex{
    background-image: url(img/club.jpg);
    @include background();
    height: 600px;
    width: 100%;
}
.fotoHistoria{
    background-image: url(img/clubViejo.jpg);
    @include background();
    height: 620px;
    width: 100%;
}
.fotoCamiseta{
    background-image: url(img/camisetaRetro.jpg);
    @include background();
    height: 630px;
    width: 100%;
}
.fotoGaleria{
    background-image: url(img/facuCampazzo.jpg);
    @include background();
    height: 620px;
    width: 100%;
}
.fotoVideo{
    background-image: url(img/leoGutierrez.jpg);
    @include background();
    height: 620px;
    width: 100%;
}

/*****  seccion de menu *****/
.menu{
    width: 100% ;
    height: 500%;
    display: flex; 
    a{
        text-decoration: none;
        color: white;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 75%;
        :hover{
            color: rgb(83, 174, 204);
            transform: scale(1.1);
            transition: all 1s;
        }
        
    }
    
    .fondotxt{
        text-align: center;
        align-items: center;
        text-shadow: 5px 5px 3px black;
        font-size: 45px;
        font-family: $font1;
        font-weight: 700;
    }
}
.inicio{
    background-image: url(img/club.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    :hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }  
}
.galeria{
    background-image: url(img/facuCampazzo.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    :hover{
        transform: scale(1.1);
        transition: all 1s;
    }
}
.historia{
    background-image: url(img/clubViejo.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    max-width: 100%;
    
    /* :hover{
        transform: scale(1.1);
        transition: all 1s;
    } */ 
}
.camiseta{
    background-image: url(img/camisetaRetro.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    :hover{
        transform: scale(1.1);
        transition: all 1s;
    }
}
.videos{
    background-image: url(img/leoGutierrez.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    :hover{
        transform: scale(1.1);
        transition: all 1s;
    }
}
.banner{
    background-color: $color1;
    width: 100%;
    height: 300px;
    h5{
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        font-family: $font3;
        font-size: 50px;
    }
}
.banner2{
    background-color: $color1;
    width: 100%;
    height: 100px;
    margin-bottom: 10%;
    
}
/**** cuenta regresiva ****/

#cuenta{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 100%;
}
.simply-section{
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simply-amount{
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: $color1;
}
.simply-word{
    font-weight: 400;
    font-size: 20px;
}

/***** sector scroll  *****/
#background{
    background-image: url(img/escudo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 300px;
    background-size: 30%;
    background-position: 25%;
    width: 100%;
}
.p1, .p2, .p3{
    text-align: right;
    font-size: 200%;
    text-shadow: 5px 5px 8px grey;
    margin-left: 50%;
    margin-right: 5%;
    padding-top: 10%;
    color:black;
    font-family: $font1; 
}
.jumbotron{
    background-color: whitesmoke;
    margin-bottom: 100px;
    padding-top: 20px;
    h1{
        font-size: 60px;
        text-decoration: none;
        font-family: $font1;
        text-align: center;
        color: $color1;
    }
    p{
        text-align: center !important; 
        padding-bottom: 70px;
        border-top: $color1 solid 3px;
        margin: 0px 350px;
        padding-top: 50px;
        color: black !important;
    }
}
.publicidad{
    background-color: red;
    width: 100%;
    height: 200px;
}
.publicidadChico{
    background-color: lightblue;
    margin-top: 5%;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 70px;
}
.titulo{
    background-color: $color1;
    text-align: center;
    color: white;
    font-family: $font2;
    margin-top: 50px;
}

/***** carousel *****/
.carousel-item{
    height: 35rem;
    background: rgb(1, 149, 235);
    background-size: cover;
    background-position: center;
    
    h5{
        color: white;
        text-shadow: black 5px 5px 5px;
        font-size: 50px;
        background-color: rgba(83, 174, 204, 0.5);
    }
    p{
        font-size: 25px;
        background-color: rgba(83, 174, 204, 0.5);
        text-shadow: black 5px 5px 5px;
    }
}
#miCarousel{
    margin-bottom: 50px;
}
/***** footer *****/
.box{
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(rgb(0, 0, 139),black);
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    margin-top: 20px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    margin: 1rem;
}
p{
    color: white;
    text-align: center;
    font-family: $font2;
}

/***** Seccion GALERIA *****/

h2{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}
.linea{
    background: $color1;
    height: 5px;
    width: 100%;
    display: block;
}
.fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    img{
        width: 100%;
        vertical-align: top;
        height: 300px;
        object-fit: cover;
        transition: transform 0.5s;
    }
    a{
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
        :hover{
            transform: rotate(10deg) scale(1.5);
        }
    }
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
}

/*****  Historia *****/
.fotoBiografia{
    background-image: url();
    background-position-y: 35%;
    background-size: cover;
    height: 600px !important;
}
.mainbio{
    margin-left: 25px;
    margin-right: 25px;
}
#title-bio{
    color: $color1;
    padding: 5%;
    font-size: 500%;
    position: sticky;
    text-align: center;
}
.conteiner-all{
    margin-bottom: 20%;
    img{
        width: 500px;
        float: left;
        margin-left: 10%;
        border-radius: 45%;
        margin-right: 10%;
        border:solid $color1 5px;
    }
}
.txt1{
    text-align: right;
    margin-left: 20%;
    margin-right: 5%;
    padding-top: 5%;
    border-bottom:solid $color1 5px;
    font-family: $font1;
    font-size: 20px;
    color: black;
}
.conteiner2  img{
    width: 50%;
    float: right;
    margin-right: 5%;
    border: solid $color1 5px;
    margin-left: 3%;
    margin-bottom: 10%;
    
}
.txt2{
    font-family: $font1;
    font-size: 20px;
    text-align: left;
    padding-top: 15%;
    padding-right: 0%;
    margin-left: 5%;
    border-bottom:solid $color1 5px;
    margin-right: 40%;
    color: black;
}     
.conteiner3 img{
    width: 600px;
    float: left;
    margin-left: 5%;
    border-radius: 30%;
    margin-right: 10%;
    border: solid $color1 5px;
} 
.txt3{
    text-align: right;
    margin-left: 30%;
    margin-right: 5%;
    padding-top: 15%;
    border-bottom:solid $color1 5px;
    font-family: $font1;
    font-size: 20px;
    color: black;
} 
#conteiner4 img{
    width: 35%;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
    margin-left: 5%;
    border: solid $color1 5px;
}
.txt4{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30%;
    border-bottom:solid $color1 5px;
    font-family: $font1;
    font-size: 20px;
    color: black;
}
.conteiner5 img{
    width: 50%;
    float: right;
    margin-top: 5%;
    margin-right: 23%;
    margin-left: 2%;
    margin-bottom: 2%;
    border: solid $color1 5px;
}
.txt5{
    font-family: $font1;
    font-size: 20px;
    text-align: left;
    padding-top: 35%;
    margin-left: 3%;
    border-bottom:solid $color1 5px;
    margin-right: 50%;
    color: black;
}
.conteiner6 img{
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border: solid $color1 5px;
    margin-left: 3%;
}
.txt6{
    font-family: $font1;
    font-size: 20px;
    text-align: left;
    padding-top: 10%;
    margin-left: 5%;
    border-bottom: solid $color1 5px;
    margin-right: 40%;
    color: black;
}
.conteiner7 img{
    width: 74%;
    position: relative;
    left: 10%;
    margin-top: 3%;
    margin-right: 23%;
    margin-left: 2%;
    margin-bottom: 2%;
    border: solid $color1 5px;
} 
.txt7{
    font-family: $font1;
    font-size: 20px;
    text-align: top;
    padding-top: 30%;
    margin-left: 20%;
    border-bottom: solid $color1 5px;
    color: black;
    
}
.txt7b{
    text-align:end;
    padding-top: 0%;
    border-bottom:solid $color1 5px;
    margin-right:40% ;
    font-family: $font1;
    font-size: 20px;
    color: black;
}
.conteiner8 img{
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border: solid $color1 5px;
    margin-left: 3%;
    margin-bottom: 20%;
}
.txt8{
    text-align: left;
    padding-top: 25%;
    margin-left: 5%;
    border-bottom:solid $color1 5px;
    margin-right: 40%;
    font-family: $font1;
    font-size: 20px;
    color: black;
}
.txtfinal{
    padding-top: 15%;
    margin-left: 55%;
    margin-bottom: 15px;
    border-bottom: solid $color1 5px;
    font-family: $font1;
    font-size: 50px;
}

//***** CAMISETAS *****//

.seccionCamisetas{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100vh;
    background: white;
    background-color: $color3;
}

.card{
    margin: 20px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .9);
    overflow: hidden;
    
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .5s;
    font-family: $font1;
    h3{
        font-size: 40px;
        text-align: center;
    }
    
}
.milrayita_shop{
    font-size: 70px;
    background-color: $color3;
    margin: 0%;
}
.subtitulo{
    height: 200%;
    color: black;
    font-family: $font2;
    font-size: 30px;
    background-color: $color2;
    margin: 0;
}
.content h3, a{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    font-weight: 700;
    
}
.content a:hover{
    color: $color3;
    font-size: 30px;
}

.card:hover .content{
    opacity: 1;
}